.Polaris-Subheading {
  font-size: 1.6rem !important;
  text-transform: none !important;
  font-weight: 600 !important;
  line-height: 2.4rem !important;
  letter-spacing: normal;
}

//.Polaris-Tabs__DisclosureActivator {
//  max-height: 53px;
//}


.Polaris-Tabs__DisclosureTab {
  button {
    max-height: 53px;
  }
}

.Polaris-FormLayout__Items {
  .Polaris-FormLayout__Item {
    align-self: flex-end;
    div {
      .Polaris-Labelled__LabelWrapper {
        margin-right: 10px;
      }
    }
  }
}


